---
---

<html lang="en" class='h-full w-full'>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>


    <script is:inline src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js'></script>
    <script is:inline src="https://cdn.tailwindcss.com"></script>
    <script src='../pdf.js'></script>

    <script is:inline src="https://kit.fontawesome.com/0db2e99dd7.js" crossorigin="anonymous"></script>
    {/*
    WORKING
    <script is:inline src='https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js'></script>
    */}
	</head>
  <body class='h-full w-full flex flex-col lg:flex-row'>
    <div class='flex h-full flex-1 flex-col'>
      <span class='flex justify-between bg-gray-700 relative text-white'>
        <div class='my-auto'>
          <label class='p-2' for='filename'>Filename:</label>
          <input class='text-black my-2' id='filename' type='text' value='html-to-pdf'/>
        </div>
        <div class='flex'>
          <div id='infoContainer'>
            <button class='py-2 px-4 h-full fa-solid fa-circle-info' id='infoToggle'></button>
            <div class='hidden absolute right-0 bg-blue-600 w-1/2 p-4' id='infoDropDown'>
              <h1 class=''>This website allows you to use HTML to create and style a PDF document</h1>
              <ul class='list-disc py-2 px-4'>
                <li>Styling can be done via tailwind classes, or inline styles</li>
                <li>PDF output supports links</li>
                <li>Existing HTML files can be uploaded, edited, and converted</li>
                <li>You can download the current HTML or PDF file using the download dropdown</li>
              </ul>
              <p class='text-center'>Want to see the code?</p>
              <a class='bg-gray-700 p-2 text-center block cursor-pointer' href='https://github.com/tediferJones/html-to-pdf'>
                <i class="fa-brands fa-github fa-xl"></i>
                <span>GitHub</span>
              </a>
            </div>
          </div>

          <div id='uploadContainer'>
            <button class='py-2 px-4 h-full fas fa-cloud-upload-alt' id='uploadToggle'></button>
            <div class='hidden absolute right-0 bg-blue-600 p-4' id='uploadDropDown'>
              <label class='m-auto' for='htmlUpload'>HTML:</label>
              <input class='m-auto flex-[2]' id='htmlUpload' type='file' accept='.html'/>
            </div>
          </div>

          <div id='downloadContainer'>
            <button class='py-2 px-4 h-full fas fa-cloud-download-alt' id='downloadToggle'></button>
            <div class='hidden absolute right-0 bg-blue-600' id='downloadDropDown'>
              <button class='py-4 px-6 flex' id='htmlDownload'>
                <i class="fa-solid fa-file-code fa-2xl cursor-pointer self-center pr-4"></i>
                <span class='w-full'>HTML</span>
              </button>
              <button class='py-4 px-6 flex' id='pdfDownload'>
                <i class="fa-solid fa-file-pdf fa-2xl cursor-pointer self-center pr-2"></i>
                <span class='w-full'>PDF</span>
              </button>
            </div>
          </div>
        </div>
      </span>
      <textarea id='htmlEditor' class='h-full w-full border-8 resize-none'/>
    </div>
    <object id='pdfContainer' class='flex-1' type='application/pdf'>
      <p>Unable to display PDF file. <a id='pdfDisplayError'>Download</a> instead.</p>
    </object>
  </body>
</html>
