---
---

<html lang="en" class='h-full w-full'>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>


    <script is:inline src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js'></script>
    <script is:inline src="https://cdn.tailwindcss.com"></script>
    <script src='../pdf.js'></script>
    {/*
    WORKING
    <script is:inline src='https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js'></script>
    */}
	</head>
  <body class='h-full w-full flex flex-col md:flex-row'>
    <div class='flex h-full flex-1 flex-col'>
      <span class='flex'>
        <label class='m-auto' for='htmlUpload'>HTML:</label>
        <input class='m-auto flex-[2]' id='htmlUpload' type='file' accept='.html'/>
        <button class='flex-1 m-auto' id='updatePdf'>Update PDF</button>
        <a class='flex-1 m-auto' id='htmlDownload'>Download HTML</a>
      </span>
      <textarea id='htmlEditor' class='h-full w-full border-8 resize-none'/>
    </div>
    <object id='pdfContainer' class='flex-1' type="application/pdf">
      <p>Unable to display PDF file. <a id='pdfDisplayError'>Download</a> instead.</p>
    </object>
  </body>
</html>
